*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height : 100%;
    visibility: hidden;
    background-color: #2f2929;
    position: absolute;
}
p{
    color: #fef4f4;
    width: fit-content;
    position: absolute;
    left: 40%;
    font-size: 40px;
    background-color: #503a3a;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid #f65151;
    cursor: default;
    user-select: none;
}
#floatting{
    position: absolute;
    left: 42%;
    top: 42%;
    font-size: 7vh;
    font-weight: bold;
    color: #fef4f4;
    opacity: 0.3;
    border: none;
}
.editor{
    width: 100%;
    height : 100%;
    background-color: #503A3A;
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
}

#addbtn{
    font-size: 20px;
    position: absolute;
    left: 88%;
    top: 84%;
}
.btnbody{
    width: 123px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 5px;
    position: relative;
    left :75%;
    background-color: #f65151;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.btnclass{
    width: 100%;
}
#savednotes{
    width: 95%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #503A3A;
    border: 2px solid #f65151;
    margin-top: 2%;
    padding-top: 35px;
    color: #fef4f4;
    padding: 35px 35px;
}
.divtask{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 10px 10px;
}
.divnote{
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    background-color: #2f2929;
    border-radius: 15px 0px 0px 15px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.divicon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2f2929;
    border-radius: 0px 15px 15px 0px;
    width: 15%;
    margin-top: 15px;
    flex-direction: row-reverse;
}
.divicon i{
    font-size: 5vh;
    cursor: pointer;
    align-self: auto;
}
.divtitle{
    width: 95%;
    height: auto;
    border: 1px solid red;
    border-radius: 5px;
    padding: 1%;
    background-color:#f65151;
    margin-bottom: 3px;
    font-size: 30px;
    text-transform:capitalize;
}
.divdesc{
    width: 95%;
    height: auto;
    padding: 1%;
    background-color:#f65151;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 20px;
    text-transform:capitalize;
    word-break: break-all;
    white-space: normal;
}
.addtitle{
    width: 95%;
    height: 300px;
}
#titletxt{
    width: 90%;
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
    outline: none;
    font-weight: bold;
    opacity: 0.7;
}
#desctxt{
    width :90%;
    height: 90%;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 2%;
    outline: none;
    resize: none;
    opacity: 0.7;
}
.desc{
    height: 75%;
}
.overflow{
    overflow-y: auto;
    }
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
@media(max-width:1079px){
    p{
        left: 35%;
    }
    .btnbody{
        left: 68%;
    }
    #addbtn{
        font-size: 15px;
        left: 45% ;
    }
    #floatting{
        left: 40%;
    }
}
@media(max-width:1024px){
    p{
        left: 31%;
    }
    .btnbody{
        left: 60%;
    }
    #addbtn{
        font-size: 15px;
        left: 45% ;
    }
    #floatting{
        left: 28%;
    }
}
@media(max-width:768px){
    .divicon{
        flex-direction: column;
    }
    p{
        left: 20%;
    }
    .btnbody{
        left: 23%;
    }
    #addbtn{
        font-size: 15px;
        left: 40% ;
    }
    #floatting{
        left: 32%;
    }
}
@media(max-width:480px){
    p{
        left: 25%;
        font-size: 24px;
    }
    .btnbody {
        left: 10%;
    }
    #addbtn{
        font-size: 15px;
        left: 33% ;
    }
    .desc {
        margin-bottom: -15px;
    }
    #floatting{
        left: 11%;
    }
}
@media(max-width:320px){
    #savednotes{
        padding: 0px;
    }
    p{
        left: 17%;
        font-size: 24px;
    }
    .btnbody{
        padding: 10px;
        width: 90px;
        left: 15%;
    }
    #addbtn{
        font-size: 15px;
        left: 33% ;
    }
    .desc {
        margin-bottom: -15px;
    }
    #floatting{
        left: 15%;
    }
}
@media(max-width:319px){
    p{
        left: 17%;
        font-size: 24px;
    }
    .btnbody{
        padding: 10px;
        width: 90px;
        left: 15%;
    }
    #addbtn{
        font-size: 15px;
        left: 33% ;
    }
    .desc {
        margin-bottom: -15px;
    }
    #floatting{
        left: 21%;
        font-size: 30px;
    }
}